* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

header {
  background: transparent;
  min-height: 50px;
}
header .logo {
  color: #82ae46;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}
header nav {
  float: right;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  display: block;
}
header nav ul li a:hover, header nav ul li a.active {
  color: #fff;
  background: #82ae46;
}
header .menu-toggle {
  color: rgba(0, 0, 0, 0.5);
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

main #slider-home {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;
}
main #slider-home ul {
  margin: 0 0 40px;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
main #slider-home ul li {
  list-style: none;
  margin: 0 0 40px;
}
main #slider-home ul li .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform: rotateY(90deg);
  transform-origin: left;
}
main #slider-home ul li .slide .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  padding: 40px;
  width: fit-content;
  text-align: center;
}
main #slider-home ul li .slide .content h1 {
  font-size: 5vw;
  color: #fff;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Amatic SC", cursive;
}
main #slider-home ul li .slide .content .subheading {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
}
main #slider-home ul li .slide img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
main #slider-home ul li input[type=radio] {
  position: relative;
  z-index: 1;
  height: 15px;
  width: 15px;
  margin: 0 5px;
}
main #slider-home ul li input[type=radio]:checked ~ .slide {
  transition: transform 0.5s;
  transform: rotateY(0deg);
  transform-origin: right;
}
main #slider-home ul li input[type=radio]:checked ~ .slide img {
  animation: animateForSlider 40s linear infinite;
}
main #products {
  min-height: 100vh;
  padding-top: 10px;
}
main #products .category {
  display: flex;
  justify-content: center;
}
main #products .category ul {
  flex-wrap: wrap;
  margin-bottom: 10px;
}
main #products .category ul li {
  text-align: center;
  list-style: none;
  background-color: transparent;
  color: #82ae46;
  padding: 8px 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
main #products .category ul li.active {
  background-color: #82ae46;
  color: #fff;
}
main #products .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #f0f0f0;
}
main #products .card .imgBx {
  overflow: hidden;
}
main #products .card .imgBx img:hover {
  transition: transform 0.5s;
  transform: scale(1.2);
}
main #products .card .contentBx {
  text-align: center;
  line-height: 2;
  padding: 10px;
}
main #products .card .contentBx h3 {
  text-transform: uppercase;
}
main #products .card .contentBx .price .price-real {
  text-decoration: line-through;
}
main #products .card .contentBx .price .price-sale {
  color: #82ae46;
}
main #products .card .buy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;
}
main #products .card .buy ul {
  position: relative;
  display: flex;
}
main #products .card .buy ul li {
  list-style: none;
}
main #products .card .buy ul li label {
  position: relative;
}
main #products .card .buy ul li label input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
main #products .card .buy ul li label input[type=checkbox]:checked ~ .icon {
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.05), inset 4px 4px 6px rgba(0, 0, 0, 0.2);
}
main #products .card .buy ul li label input[type=checkbox]:checked ~ .icon .fa {
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff, 0 0 25px #00f3ff;
  animation: animateGlowingCheckbox 5s linear infinite;
}
main #products .card .buy ul li label .icon {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #82ae46;
  color: #fff;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05), 4px 4px 6px rgba(0, 0, 0, 0.2), inset -1px -1px 4px rgba(255, 255, 255, 0.05), inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}
main #products .card .buy ul li label .icon::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 5px);
  height: calc(50% - 2px);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
}

@keyframes animateForSlider {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animateGlowingCheckbox {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@media (max-width: 576px) {
  header {
    z-index: 1;
  }
  header nav {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #ffffff;
  }
  header nav.active {
    left: 0;
  }
  header .menu-toggle {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
