$font-primary: 'Poppins',Arial, sans-serif;
$font-secondary: 'Lora',Georgia, serif;
$font-tertiary: 'Amatic SC',cursive;

$white: #fff;
$black: #000000;
// $darken: #3a4348;

$primary: #82ae46;
$secondary: #ffe6eb;

$color-1: #e4b2d6;
$color-2: #dcc698;
$color-3: #a2d1e1;
$color-4: #dcd691;

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

header{
    background: transparent;
    min-height: 50px;
    .logo{
        color: $primary;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    nav{
        float: right;
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            li{
                list-style: none;
                a{
                    height: 50px;
                    line-height: 50px;
                    padding: 0 20px;
                    color: rgba(0, 0, 0, 0.5);
                    text-decoration: none;
                    display: block;
                    &:hover, &.active{
                        color: $white;
                        background: $primary;
                    }
                }
            }
        }
    }
    .menu-toggle{
        color: rgba(0, 0, 0, 0.5);
        float: right;
        line-height: 50px;
        font-size: 24px;
        cursor: pointer;
        display: none;
    }
}

main{
    #slider-home{
        ul{
            margin: 0 0 40px;
            padding: 0;
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            li{
                list-style: none;
                margin: 0 0 40px;
                .slide{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.5s;
                    transform: rotateY(90deg);
                    transform-origin: left;
                    .content{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: transparent;
                        padding: 40px;
                        width: fit-content;
                        text-align: center;
                        h1{
                            font-size: 5vw;
                            color: #fff;
                            line-height: 1.3;
                            font-weight: 400;
                            font-family: "Amatic SC", cursive;
                        }
                        .subheading{
                            font-weight: 300;
                            font-size: 12px;
                            letter-spacing: 4px;
                            text-transform: uppercase;
                            display: inline-block;
                            color: #fff;
                        }
                    }
                    img{
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        left: 0;

                    }
                }
                input[type="radio"]{
                    position: relative;
                    z-index: 1;
                    height: 15px;
                    width: 15px;
                    margin: 0 5px;
                &:checked ~ .slide{
                    transition: transform 0.5s;
                    transform: rotateY(0deg);
                    transform-origin: right;
                    img{
                        animation: animateForSlider 40s linear infinite;
                    }
                }
                }

            }
        }
        position: relative;
        width: 100%;
        height: calc(100vh - 50px);
        overflow: hidden;
    }

    #products{
        min-height: 100vh;
        padding-top: 10px;
        .category{
            display: flex;
            justify-content: center;
            ul{
                // display: flex;
                flex-wrap: wrap;
                margin-bottom: 10px;
                li{
                    text-align: center;
                    list-style: none;
                    background-color: transparent;
                    color: $primary;
                    padding:8px 20px;
                    // margin: 5px;
                    letter-spacing: 1px;
                    cursor: pointer;
                    &.active{
                        background-color: $primary;
                        color: $white;
                    }
                }
            }
        }
        .card{
            // &:nth-child(n){
            //     margin: 10px;
            // }
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid #f0f0f0;
            .imgBx{
                overflow: hidden;
                img:hover{
                    transition: transform 0.5s;
                    transform: scale(1.2);
                }
            }
            .contentBx{
                text-align: center;
                line-height: 2;
                padding: 10px;
                h3{
                    text-transform: uppercase;
                }
                .price{
                    .price-real{
                        text-decoration: line-through;
                    }
                    .price-sale{
                        color: $primary;
                    }
                }
            }
            .buy{
                display: flex;
                justify-content: center;
                align-items: center;
                // min-height: 100vh;
                padding: 10px;
                background-color: transparent;
                ul{
                    position: relative;
                    display: flex;
                    li{
                        list-style: none;
                        label{
                            position: relative;
                            input[type="checkbox"]{
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                &:checked ~ .icon{
                                    box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.05),
                                                inset 4px 4px 6px rgba(0, 0, 0, 0.2); 
                                };
                                &:checked ~ .icon .fa{
                                    color: #00f3ff;
                                    text-shadow: 0 0 15px #00f3ff,
                                                 0 0 25px #00f3ff;
                                    animation: animateGlowingCheckbox 5s linear infinite;
                                }
                            }
                            .icon{
                                position: relative;
                                width: 40px;
                                height: 40px;
                                background-color: $primary;
                                color: $white;
                                font-size: 15px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                                margin: 0 10px;
                                border-radius: 50%;
                                overflow: hidden;
                                box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
                                            4px 4px 6px rgba(0, 0, 0, 0.2),
                                            inset -1px -1px 4px rgba(255, 255, 255, 0.05),
                                            inset 1px 1px 1px rgba(0, 0, 0, 0.1);
                                &::before{
                                    content: "";
                                    position: absolute;
                                    top: 2px;
                                    left: 2px;
                                    width: calc(100%  - 5px);
                                    height: calc(50% - 2px);
                                    border-top-left-radius: 8px;
                                    border-top-right-radius: 8px;
                                    background: rgba(255, 255, 255, 0.05);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@keyframes animateForSlider
{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes animateGlowingCheckbox
{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}


// Import file "responsive"
@import "responsive";